= form_for @service, :html => { :class => "form-horizontal", :role => "form" } do |f|
  -if @service.errors.any?
    .alert.alert-danger.alert-dismissable{:role => "alert"}
      %button.close{:type => "button", :data => {:dismiss => "alert"} }
        span{:aria => {:hidden => "true"} } &times;
        span.sr-only Close
      %h4= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"

      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :fecha_servicio, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :fecha_servicio, :class => 'form-control'
  .form-group
    = f.label :emitida, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :emitida, :class => 'form-control'
  .form-group
    = f.label :aplicada, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :aplicada, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => 'btn btn-primary'
