/ %ul.nav.nav-sidebar
/   %li
/     %a{:href => generate_dit_client_place_service_url(@client, @place, @service)} Generar DIT


%ul.nav.nav-sidebar
  = render partial: 'shared/search_form.html.haml'
  %li
    = link_to 'Volver a Local', [@client, @place]

  - if @service && @service.persisted?
    %hr
    %li
      = link_to 'Crear nuevo fecha de servicio', new_client_place_service_service_date_path(@client, @place, @service)
    %li
      = link_to 'Editar servicio', edit_client_place_service_path(@client, @place, @service)
    %li
      = link_to 'Generar DIT', generate_dit_client_place_service_path(@client, @place, @service)
