.page-header
  = link_to new_service_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Service
  %h1 Listing services

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Fecha servicio
        %th Emitida
        %th Aplicada
        %th
        %th
        %th

    %tbody
      - @services.each do |service|
        %tr
          %td= service.fecha_servicio
          %td= service.emitida
          %td= service.aplicada
          %td= link_to 'Show', service
          %td= link_to 'Edit', edit_service_path(service)
          %td= link_to 'Destroy', service, :data => { confirm: 'Are you sure?' }, :method => :delete
