.page-header
  = link_to [@client, @place], :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atras
  = link_to edit_service_path(@service), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1= "Servicio #{@service.nombre}"

%dl.dl-horizontal
  %dt Nombre:
  %dd= @service.nombre
  %dt Baja?:
  %dd= @service.baja
  %dt Fecha aplicaciones:
  %dd= @service.service_dates.count
