.page-header
  = link_to [@client, @place], :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atras
  = link_to edit_client_place_service_path(@client, @place, @service), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1= "Servicio #{@service.nombre}"

%dl.dl-horizontal
  %dt Servicio:
  %dd= @service.nombre
  %dt Baja?:
  %dd= boolean_to_icons(@service.baja)
  %dt Número aplicaciones:
  %dd= @service_dates.count

.row
  .col-md-12
    .page-header
      = link_to generate_next_bills_client_place_service_path(@client, @place, @service), :class => 'btn btn-default pull-right' do
        %span.glyphicon.glyphicon-pencil
        Generar facturas proximo año
      %h3= "Facturas (#{@bill_dates.count})"
    - if @bill_dates.count > 0
      = render partial: 'bill_dates'

.page-header
  = link_to generate_next_service_dates_client_place_service_path(@client, @place, @service), :class => 'btn btn-default pull-right' do
    %span.glyphicon.glyphicon-pencil
    Generar fechas aplicaciones proximo año
  = link_to new_client_place_service_service_date_path(@client, @place, @service), :class => 'btn btn-default pull-right' do
    %span.glyphicon.glyphicon-plus
    Crear nuevo fecha de servicio
  %h3= "Fecha aplicaciones (#{@service_dates.count})"

- if @service_dates.count > 0
  .table-responsive
    %table.table
      %thead
        %tr
          %th Fecha de servicio
          %th Emitida
          %th Aplicada
          %th

      %tbody
        - @service_dates.each do |service_date|
          %tr
            %td= link_to service_date.fecha_servicio, [@client, @place, @service, service_date]
            %td= boolean_to_icons(service_date.emitida)
            %td= boolean_to_icons(service_date.aplicada)
            %td
              .span.pull-right
                = link_to edit_client_place_service_service_date_path(@client, @place, @service, service_date) do
                  %span.glyphicon.glyphicon-pencil.text-info
                = link_to [@client, @place, @service, service_date], :data => { confirm: 'Are you sure?' }, :method => :delete do
                  %span.glyphicon.glyphicon-trash.text-danger


.page-header
  %h3= "DIT'S (#{@service.dits.count})"

- if @service.dits.count > 0
  .table-responsive
    %table.table
      %thead
        %tr
          %th Fecha Tratamiento
          %th Estado

      %tbody
        - @service.dits.each do |dit|
          %tr
            %td= dit.fecha_tratamiento
            %td= dit.estado
