.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        / %th Numero cliente
        %th Nombre
        %th Direccion
        %th Telefono
        %th Total Servicios
        %th
        %th
        %th

    %tbody
      - @places.each do |place|
        %tr
          %td= place.nombre
          %td= place.full_address
          %td= place.telefono
          %td= place.services.count
          %td= link_to 'Show', [@client, place]
          %td= link_to 'Edit', edit_client_place_path(@client, place)
          %td= link_to 'Destroy', [@client, place], :data => { confirm: 'Are you sure?' }, :method => :delete
