%ul.nav.nav-sidebar
  = render partial: 'shared/search_form.html.haml'
  %li
    = link_to 'Listado de clientes', clients_path
  - if @client && @client.persisted?
    %li
      = link_to 'Editar cliente', edit_client_path(@client)
  %li
    = link_to 'Crear nuevo cliente', new_client_path

  - if @client && @client.persisted?
    %hr
    %li
      = link_to 'Crear nuevo local', new_client_place_path(@client)

  %hr
    %li
      %a{:href => "#"} Estadisticas