.page-header
  = link_to clients_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Atras
  = link_to edit_client_path(@client), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Editar
  %h1= "Cliente #{@client.nombre_fiscal}"

.row
  .col-md-12
    .page-header
      = link_to new_client_place_path(@client), :class => 'btn btn-primary' do
        %span.glyphicon.glyphicon-plus
        Nuevo local
      %h3 Locales
    = render partial: 'places'

