.page-header
  = link_to clients_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_client_path(@client), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  = link_to new_client_place_path(@client), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    New Place
  %h1= "Cliente #{@client.nombre_fiscal}"

.row
  .col-md-12
    %h1 Fecha facturas
    = render partial: 'bill_dates', locals: { client: @client }
.row
  .col-md-12
    %h1 Listado de Aplicaciones

    #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      - @places.each_with_index do |place, index|
        .panel.panel-default
          .panel-heading{:role => "tab", id: "heading#{index}"}
            %h4.panel-title
              %a{"aria-controls" => "collapse#{index}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{index}"}
                = place.nombre
          .panel-collapse.collapse{"aria-labelledby" => "heading#{index}", :role => "tabpanel", id: "collapse#{index}", class: "#{'in' if index == 0}"}
            .panel-body
              = render partial: 'places', locals: { place: place }

    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            / %th Numero cliente
            %th Nombre
            %th Direccion
            %th Poblacion
            %th Provincia
            %th Dpostal
            %th Zona
            %th Telefono
            %th Fax
            %th Preguntar por
            %th reclamacion
            / %th Actividad
            / %th Plaga
            %th Area
            %th Observaciones Apl
            %th Observaciones Parti
            %th Plano
            / %th Aplicador1
            / %th Aplicador2
            %th
            %th
            %th

        %tbody
          - @places.each do |place|
            %tr
              / %td= place.numero_cliente
              %td= place.nombre
              %td= place.direccion
              %td= place.poblacion
              %td= place.provincia
              %td= place.dpostal
              %td= place.zona
              %td= place.telefono
              %td= place.fax
              %td= place.preguntar_por
              %td= place.reclamacion
              / %td= place.actividad
              / %td= place.plaga
              %td= place.area
              %td= place.observaciones_apl
              %td= place.observaciones_parti
              %td= place.plano
              / %td= place.aplicador1
              / %td= place.aplicador2
              %td= link_to 'Show', [@client, place]
              %td= link_to 'Edit', edit_client_place_path(@client, place)
              %td= link_to 'Destroy', [@client, place], :data => { confirm: 'Are you sure?' }, :method => :delete




#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          Collapsible Group Item #1
    #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  .panel.panel-default
    #headingTwo.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
          Collapsible Group Item #2
    #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
      .panel-body
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  .panel.panel-default
    #headingThree.panel-heading{:role => "tab"}
      %h4.panel-title
        %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
          Collapsible Group Item #3
    #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
      .panel-body
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.