%ul.nav.nav-sidebar
  = render partial: 'shared/search_form.html.haml'
  - if !current_page?(controller: 'places', action: 'index')
    %li
      = link_to 'Volver a cliente', [@client]
    %hr
    - if @place && @place.persisted?
      %li
        = link_to 'Informacion Local', [@client, @place]
      %li
        = link_to 'Editar Local', edit_client_place_path(@client, @place)
      %hr
      %li
        = link_to 'Crear nuevo servicio', new_client_place_service_path(@client, @place)